


.slick-next{
    height: 100px;
    width: 100px;
    

 padding: 13px;

  }
.slide-prev{

padding: 13px;
margin-top: 10px;

}
.carousel .slick-next {
  background-color: red;
   
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
.slick-prev::before,
.slick-next::before {
  display: none;


}
 
