
.mid{
    display: flex;
    flex-direction: row;
      width: 100%;
      height: 300px;
    margin-right: -50px;
    background-color: aqua;
      
    }
    .mid31p{
      object-fit: cover;
    }
    .midd{
      display: flex;
      flex-direction: row;
        width: 100%;
        height: 300px;
        margin-top: 60px;
        margin-left: 10px;
        padding: 10px;
     
      }
    .mid1{
    float: left;
      width: 220px;
      height: 300px;
    margin-left: -60px;
      background-image: url(https://rukminim1.flixcart.com/fk-p-flap/278/278/image/7593e7b6640822c1.jpg?q=90);
      background-repeat: no-repeat;
      background-position: 0px bottom;
    }
    .btnm{
      font-size: 12px;
      box-shadow: 11px 2px solid black;
      line-height: 1.4;
      padding: 10px 20px;
      margin-top: 10px;
      font-size: 13px;
      font-weight: 500;
      border-style: none ;
      vertical-align: super;
      outline: none;
      background-color: blue;
      color: white;
    }
    .mid2{
    text-align: center;
    font-size: 30px;
    line-height: 1.38;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    
    }
    
    .mid3{
      
      width:150px;
      height: 300px;
     text-align: center;
   background-color: black;
    
      
    }
    .mid31{
      margin: 20px;
      margin-top: 0px;
    margin-bottom: 10px;
      width: 150px;
      height: 100px;
      position: static;
      top: -3%;
     
    }
    .mid31p{
      margin-left: 50px;
      object-fit: contain;
      width:100%;
      height: 100%;
    }
    .mid31:hover{
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
      cursor: pointer;
    }
    .mid32{
      font-size: 20px;
      font-weight: 500;
      margin-top: 30px;
      text-align: center;
      margin-left: 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .mid34{
     text-align: center;
      font-family: 'Times New Roman', Times, serif;
      color: rgb(144, 251, 144);
      font-weight: 100;
      margin-top: 10px;
    }
    .mid33{
      font-weight: 100;
      margin-top: 10px;
      text-align: center;
      color: rgb(119, 113, 113);
    }
    
    
    .tag {
        text-align: center;
      border-style: none;
    }
    
    /*.slick-slide img {
        margin: auto;
        width: 90%;
        height: 200px;
      margin-bottom: 20px;
      border-style: none ;
      
    }*/
    .arrow{
      height: 70px;
      width: 50px;
      border: 1px solid rgb(226, 214, 214);
      background-color:rgb(234, 224, 224);
    font-size: 50px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 40px;
    padding: 13px;
    }
    .back{
      height: 70px;
      width: 50px;
      border: 1px solid rgb(226, 214, 214);
    background-color:rgb(234, 224, 224);
    font-size: 50px;
    position: absolute;
    top: -27px;
    left: 165px;
    border-radius: 5px;
    padding: 13px;
    }
    .sli{
      border-style: none;
      background-color: black;
    }
    
    
   
   
    
    .imgSlider{
    
      width: 100%;
      height: 80%;
      border-style: none;
    }
    .tag1{
      margin-left: 60px;
      margin-right: 40px;
      padding: 1px;
      top:45%;
     
    }